/* variables */
:root {
    --red: #f72210;
    --yellow: #ffe400;
    --background: #f4f5f6;
    --text-color: #333;
    --slab: 'Roboto Slab',
        serif;
    --condensed: 'Roboto Condensed',
        sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}


body {
    box-sizing: border-box;
    line-height: 1.7;
    background-color: var(--background);
    max-width: 1330px;
    margin: 0 auto;
    font-family: var(--condensed);
}


.text-red {
    color: var(--red);
}

.container-fluid {
    overflow: hidden;
}


.red-background {
    background-color: var(--red);
}

.weather-icon {
    width: 24px;
    height: 24px;
}

.nav-logo {
    fill: white;
    width: 132px;
    height: 20px;
}


/* Navbar-right */

.add-free {
    background-color: var(--yellow);
    font-size: 12px;
    letter-spacing: 0px;
}

.human-icon {
    height: 30px;
    width: 30px;
}

.hamburger-menu {
    width: 30px;
    height: 30px;
}

.hb-menu-span {
    display: inline-block;
    background-color: #f4f5f6ce;
    width: 18px;
    height: 2px;
    position: relative;
}


.hb-menu-span::before,
.hb-menu-span::after {
    content: "";
    background-color: #f4f5f6ce;
    width: 18px;
    height: 2px;
    display: inline-block;
    position: absolute;
}

.hb-menu-span::after {
    top: 6px;
}

.hb-menu-span::before {
    top: -6px;
}

.search-input {
    background: url("/img/search-glass.svg") 50% 50% no-repeat;
    background-size: 15%;
    font-family: inherit;
}

.search-input:active,
.search-input:focus {
    outline: none;
}

/* article category over img */
.category {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 8px 15px 9px;
    background-color: rgba(255, 255, 255, .9);
}


.opinion-debate-img {
    height: 63px;
}


@media screen and (min-width: 768px) {


    .hb-menu-span::before,
    .hb-menu-span::after {
        width: 30px;
        height: 4px;
    }

    .hb-menu-span::before {
        top: -8px;
    }

    .hb-menu-span::after {
        top: 8px;
    }

    .hb-menu-span {
        width: 30px;
        height: 4px;
    }

    .btn-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 990px) {

    .nav-logo {
        fill: white;
        width: 396px;
        height: 60px;
    }

    .nav-bottom::before {
        content: "";
        top: 0;
        left: 94%;
        width: 120px;
        height: 13px;
        background-color: var(--red);
        position: absolute;
        transform: skewX(45deg);

    }
}