:root {

    --red: #f72210;
    --yellow: #ffe400;
    --background: #f4f5f6;
    --text-color: #333;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}


body {
    box-sizing: border-box;
    line-height: 1.7;
    background-color: var(--background);
}

.navbar {
    background-color: var(--red);
}

.nav-left {
    display: none;
}

.nav-logo {
    fill: white;
    width: 132px;
    height: 20px;
}

.add-free {
    background-color: var(--yellow);
}

.human-icon {
    height: 30px;
    width: 30px;
}